.vscode/settings.json
addons/l10n_do_accounting/__init__.py
addons/l10n_do_accounting/__manifest__.py
addons/l10n_do_accounting/README.rst
addons/l10n_do_accounting/controllers/__init__.py
addons/l10n_do_accounting/controllers/controllers.py
addons/l10n_do_accounting/controllers/portal.py
addons/l10n_do_accounting/controllers/__pycache__/__init__.cpython-37.pyc
addons/l10n_do_accounting/controllers/__pycache__/__init__.cpython-38.pyc
addons/l10n_do_accounting/controllers/__pycache__/controllers.cpython-37.pyc
addons/l10n_do_accounting/controllers/__pycache__/controllers.cpython-38.pyc
addons/l10n_do_accounting/data/account_fiscal_type_data.xml
addons/l10n_do_accounting/data/ir_config_parameters.xml
addons/l10n_do_accounting/data/ir_cron_data.xml
addons/l10n_do_accounting/data/l10n_latam.document.type.csv
addons/l10n_do_accounting/data/mail_template_data.xml
addons/l10n_do_accounting/data/report_layout_data.xml
addons/l10n_do_accounting/demo/account_fiscal_sequence_demo.xml
addons/l10n_do_accounting/demo/indexa_logo.png
addons/l10n_do_accounting/demo/iterativo_logo.png
addons/l10n_do_accounting/demo/marcos_logo.png
addons/l10n_do_accounting/demo/res_partner_demo.xml
addons/l10n_do_accounting/i18n/es_DO.po
addons/l10n_do_accounting/models/__init__.py
addons/l10n_do_accounting/models/account_fiscal_sequence.py
addons/l10n_do_accounting/models/account_journal.py
addons/l10n_do_accounting/models/account_move_line.py
addons/l10n_do_accounting/models/account_move_tax.py
addons/l10n_do_accounting/models/account_move.py
addons/l10n_do_accounting/models/account_tax.py
addons/l10n_do_accounting/models/l10n_latam_document_type.py
addons/l10n_do_accounting/models/res_company.py
addons/l10n_do_accounting/models/res_partner.py
addons/l10n_do_accounting/models/__pycache__/__init__.cpython-38.pyc
addons/l10n_do_accounting/models/__pycache__/account_fiscal_sequence.cpython-38.pyc
addons/l10n_do_accounting/models/__pycache__/account_journal.cpython-38.pyc
addons/l10n_do_accounting/models/__pycache__/account_move_line.cpython-38.pyc
addons/l10n_do_accounting/models/__pycache__/account_move_tax.cpython-38.pyc
addons/l10n_do_accounting/models/__pycache__/account_move.cpython-38.pyc
addons/l10n_do_accounting/models/__pycache__/account_tax.cpython-38.pyc
addons/l10n_do_accounting/models/__pycache__/l10n_latam_document_type.cpython-38.pyc
addons/l10n_do_accounting/models/__pycache__/res_company.cpython-38.pyc
addons/l10n_do_accounting/models/__pycache__/res_partner.cpython-38.pyc
addons/l10n_do_accounting/security/ir.model.access.csv
addons/l10n_do_accounting/security/res_groups.xml
addons/l10n_do_accounting/static/description/icon.png
addons/l10n_do_accounting/static/img/preview_background.png
addons/l10n_do_accounting/static/img/preview_boxed.png
addons/l10n_do_accounting/static/img/preview_clean.png
addons/l10n_do_accounting/static/img/preview_standard.png
addons/l10n_do_accounting/static/img/res_partner_demo_1.png
addons/l10n_do_accounting/static/img/res_partner_demo_2.png
addons/l10n_do_accounting/static/img/res_partner_demo_3.png
addons/l10n_do_accounting/static/img/res_partner_demo_4.png
addons/l10n_do_accounting/static/img/res_partner_demo_7.png
addons/l10n_do_accounting/static/img/res_partner_demo_8.png
addons/l10n_do_accounting/static/img/res_partner_demo_9.png
addons/l10n_do_accounting/static/img/res_partner_demo_10.png
addons/l10n_do_accounting/static/img/res_partner_demo_11.png
addons/l10n_do_accounting/static/img/res_partner_demo_12.png
addons/l10n_do_accounting/static/pdf/preview_background.pdf
addons/l10n_do_accounting/static/pdf/preview_boxed.pdf
addons/l10n_do_accounting/static/pdf/preview_clean.pdf
addons/l10n_do_accounting/static/pdf/preview_standard.pdf
addons/l10n_do_accounting/static/src/js/fiscal_sequence_warning.js
addons/l10n_do_accounting/static/src/js/l10n_do_accounting.js
addons/l10n_do_accounting/static/src/lib/bootstrap-typeahead.js
addons/l10n_do_accounting/static/src/scss/fiscal_sequence_warning.scss
addons/l10n_do_accounting/static/src/xml/fiscal_sequence_warning_template.xml
addons/l10n_do_accounting/static/src/xml/l10n_do_accounting.xml
addons/l10n_do_accounting/views/account_dgii_menuitem.xml
addons/l10n_do_accounting/views/account_fiscal_sequence_views.xml
addons/l10n_do_accounting/views/account_invoice_views.xml
addons/l10n_do_accounting/views/account_journal_views.xml
addons/l10n_do_accounting/views/account_move_tax_views.xml
addons/l10n_do_accounting/views/account_move_views.xml
addons/l10n_do_accounting/views/account_report.xml
addons/l10n_do_accounting/views/account_tax_views.xml
addons/l10n_do_accounting/views/assets.xml
addons/l10n_do_accounting/views/backend_js.xml
addons/l10n_do_accounting/views/l10n_latam_document_type_views.xml
addons/l10n_do_accounting/views/report_invoice.xml
addons/l10n_do_accounting/views/report_templates.xml
addons/l10n_do_accounting/views/res_company_views.xml
addons/l10n_do_accounting/views/res_config_settings_view.xml
addons/l10n_do_accounting/views/res_partner_views.xml
addons/l10n_do_accounting/wizard/__init__.py
addons/l10n_do_accounting/wizard/account_fiscal_sequence_validate_wizard_views.xml
addons/l10n_do_accounting/wizard/account_fiscal_sequence_validate_wizard.py
addons/l10n_do_accounting/wizard/account_invoice_refund_views.xml
addons/l10n_do_accounting/wizard/account_invoice_refund.py
addons/l10n_do_accounting/wizard/account_move_cancel_views.xml
addons/l10n_do_accounting/wizard/account_move_cancel.py
addons/l10n_do_accounting/wizard/account_move_reversal_views.xml
addons/l10n_do_accounting/wizard/account_move_reversal.py
addons/l10n_do_accounting/wizard/__pycache__/__init__.cpython-37.pyc
addons/l10n_do_accounting/wizard/__pycache__/__init__.cpython-38.pyc
addons/l10n_do_accounting/wizard/__pycache__/account_fiscal_sequence_validate_wizard.cpython-37.pyc
addons/l10n_do_accounting/wizard/__pycache__/account_fiscal_sequence_validate_wizard.cpython-38.pyc
addons/l10n_do_accounting/wizard/__pycache__/account_move_cancel.cpython-37.pyc
addons/l10n_do_accounting/wizard/__pycache__/account_move_cancel.cpython-38.pyc
addons/l10n_do_accounting/wizard/__pycache__/account_move_reversal.cpython-37.pyc
addons/l10n_do_accounting/wizard/__pycache__/account_move_reversal.cpython-38.pyc
addons/l10n_do_currency_update/__init__.py
addons/l10n_do_currency_update/__manifest__.py
addons/l10n_do_currency_update/LICENCE
addons/l10n_do_currency_update/README.md
addons/l10n_do_currency_update/__pycache__/__init__.cpython-38.pyc
addons/l10n_do_currency_update/data/ir_config_parameter_data.xml
addons/l10n_do_currency_update/data/ir_cron_data.xml
addons/l10n_do_currency_update/demo/res_company_demo.xml
addons/l10n_do_currency_update/i18n/es_DO.po
addons/l10n_do_currency_update/migrations/14.0.2.1.0/post-init_migrate_fields.py
addons/l10n_do_currency_update/models/__init__.py
addons/l10n_do_currency_update/models/res_company.py
addons/l10n_do_currency_update/models/res_config_settings.py
addons/l10n_do_currency_update/models/__pycache__/__init__.cpython-38.pyc
addons/l10n_do_currency_update/models/__pycache__/res_company.cpython-38.pyc
addons/l10n_do_currency_update/models/__pycache__/res_config_settings.cpython-38.pyc
addons/l10n_do_currency_update/static/description/icon.png
addons/l10n_do_currency_update/static/description/index.html
addons/l10n_do_currency_update/tests/__init__.py
addons/l10n_do_currency_update/tests/test_get_currency_rates.py
addons/l10n_do_currency_update/views/res_config_settings_views.xml
addons/l10n_do_ecf_invoicing/__init__.py
addons/l10n_do_ecf_invoicing/__manifest__.py
addons/l10n_do_ecf_invoicing/__pycache__/__init__.cpython-38.pyc
addons/l10n_do_ecf_invoicing/data/ir_config_parameter_data.xml
addons/l10n_do_ecf_invoicing/data/ir_cron_data.xml
addons/l10n_do_ecf_invoicing/i18n/es_DO.po
addons/l10n_do_ecf_invoicing/models/__init__.py
addons/l10n_do_ecf_invoicing/models/account_journal.py
addons/l10n_do_ecf_invoicing/models/account_move.py
addons/l10n_do_ecf_invoicing/models/res_company.py
addons/l10n_do_ecf_invoicing/models/res_config_settings.py
addons/l10n_do_ecf_invoicing/models/__pycache__/__init__.cpython-38.pyc
addons/l10n_do_ecf_invoicing/models/__pycache__/account_journal.cpython-38.pyc
addons/l10n_do_ecf_invoicing/models/__pycache__/account_move.cpython-38.pyc
addons/l10n_do_ecf_invoicing/models/__pycache__/res_company.cpython-38.pyc
addons/l10n_do_ecf_invoicing/models/__pycache__/res_config_settings.cpython-38.pyc
addons/l10n_do_ecf_invoicing/static/description/icon.png
addons/l10n_do_ecf_invoicing/views/account_views.xml
addons/l10n_do_ecf_invoicing/views/res_config_settings_views.xml
addons/l10n_do_ncf_validation/__init__.py
addons/l10n_do_ncf_validation/__manifest__.py
addons/l10n_do_ncf_validation/__pycache__/__init__.cpython-38.pyc
addons/l10n_do_ncf_validation/data/ir_config_parameter_data.xml
addons/l10n_do_ncf_validation/i18n/es_DO.po
addons/l10n_do_ncf_validation/models/__init__.py
addons/l10n_do_ncf_validation/models/account_move.py
addons/l10n_do_ncf_validation/models/res_company.py
addons/l10n_do_ncf_validation/models/res_config_settings.py
addons/l10n_do_ncf_validation/models/__pycache__/__init__.cpython-38.pyc
addons/l10n_do_ncf_validation/models/__pycache__/account_move.cpython-38.pyc
addons/l10n_do_ncf_validation/models/__pycache__/res_company.cpython-38.pyc
addons/l10n_do_ncf_validation/models/__pycache__/res_config_settings.cpython-38.pyc
addons/l10n_do_ncf_validation/static/description/icon.png
addons/l10n_do_ncf_validation/views/res_config_settings_views.xml
addons/l10n_do_payroll/__init__.py
addons/l10n_do_payroll/__manifest__.py
addons/l10n_do_payroll/__pycache__/__init__.cpython-37.pyc
addons/l10n_do_payroll/__pycache__/__init__.cpython-38.pyc
addons/l10n_do_payroll/data/contribution_registers.xml
addons/l10n_do_payroll/data/payslip_mail_send.xml
addons/l10n_do_payroll/data/record_rules.xml
addons/l10n_do_payroll/data/res_partner.xml
addons/l10n_do_payroll/data/salary_rule_inputs.xml
addons/l10n_do_payroll/data/salary_rules_categories.xml
addons/l10n_do_payroll/data/salary_rules.xml
addons/l10n_do_payroll/data/salary_structure.xml
addons/l10n_do_payroll/models/__init__.py
addons/l10n_do_payroll/models/account_payment.py
addons/l10n_do_payroll/models/discount_import.py
addons/l10n_do_payroll/models/employee_loan.py
addons/l10n_do_payroll/models/hr_contract.py
addons/l10n_do_payroll/models/hr_employee.py
addons/l10n_do_payroll/models/hr_payroll_account.py
addons/l10n_do_payroll/models/hr_payroll_structure.py
addons/l10n_do_payroll/models/hr_payslip_run.py
addons/l10n_do_payroll/models/hr_payslip_worked_days.py
addons/l10n_do_payroll/models/hr_payslip.py
addons/l10n_do_payroll/models/hr_salary_rule.py
addons/l10n_do_payroll/models/ir_cron.py
addons/l10n_do_payroll/models/working_hours_import.py
addons/l10n_do_payroll/models/__pycache__/__init__.cpython-38.pyc
addons/l10n_do_payroll/models/__pycache__/account_payment.cpython-38.pyc
addons/l10n_do_payroll/models/__pycache__/discount_import.cpython-38.pyc
addons/l10n_do_payroll/models/__pycache__/employee_loan.cpython-38.pyc
addons/l10n_do_payroll/models/__pycache__/hr_contract.cpython-38.pyc
addons/l10n_do_payroll/models/__pycache__/hr_employee.cpython-38.pyc
addons/l10n_do_payroll/models/__pycache__/hr_payroll_account.cpython-38.pyc
addons/l10n_do_payroll/models/__pycache__/hr_payroll_structure.cpython-38.pyc
addons/l10n_do_payroll/models/__pycache__/hr_payslip_run.cpython-38.pyc
addons/l10n_do_payroll/models/__pycache__/hr_payslip.cpython-38.pyc
addons/l10n_do_payroll/models/__pycache__/hr_salary_rule.cpython-38.pyc
addons/l10n_do_payroll/models/__pycache__/working_hours_import.cpython-38.pyc
addons/l10n_do_payroll/security/groups.xml
addons/l10n_do_payroll/security/ir.model.access.csv
addons/l10n_do_payroll/static/description/icon.png
addons/l10n_do_payroll/views/account_payment_views.xml
addons/l10n_do_payroll/views/discount_import_views.xml
addons/l10n_do_payroll/views/hr_contract_view.xml
addons/l10n_do_payroll/views/hr_employee_loan_views.xml
addons/l10n_do_payroll/views/hr_employee_views.xml
addons/l10n_do_payroll/views/hr_payroll_structure.xml
addons/l10n_do_payroll/views/hr_payslip_run_view.xml
addons/l10n_do_payroll/views/hr_payslip_view.xml
addons/l10n_do_payroll/views/mail_template.xml
addons/l10n_do_payroll/views/payslip_report_templates.xml
addons/l10n_do_payroll/views/working_hours_import_views.xml
addons/l10n_do_payroll/wizard/__init__.py
addons/l10n_do_payroll/wizard/ministry_of_labour_report_wizard_view.xml
addons/l10n_do_payroll/wizard/ministry_of_labour_report_wizard.py
addons/l10n_do_payroll/wizard/payslip_report_wizard_view.xml
addons/l10n_do_payroll/wizard/payslip_report_wizard.py
addons/l10n_do_payroll/wizard/__pycache__/__init__.cpython-38.pyc
addons/l10n_do_payroll/wizard/__pycache__/ministry_of_labour_report_wizard.cpython-38.pyc
addons/l10n_do_payroll/wizard/__pycache__/payslip_report_wizard.cpython-38.pyc
addons/l10n_do_pos/__init__.py
addons/l10n_do_pos/__manifest__.py
addons/l10n_do_pos/README.rst
addons/l10n_do_pos/.idea/.gitignore
addons/l10n_do_pos/.idea/l10n_do_pos.iml
addons/l10n_do_pos/.idea/misc.xml
addons/l10n_do_pos/.idea/modules.xml
addons/l10n_do_pos/.idea/inspectionProfiles/profiles_settings.xml
addons/l10n_do_pos/__pycache__/__init__.cpython-38.pyc
addons/l10n_do_pos/data/data.xml
addons/l10n_do_pos/i18n/es_DO.po
addons/l10n_do_pos/models/__init__.py
addons/l10n_do_pos/models/cash_box.py
addons/l10n_do_pos/models/pos_config.py
addons/l10n_do_pos/models/pos_order.py
addons/l10n_do_pos/models/pos_payment_method.py
addons/l10n_do_pos/models/pos_session.py
addons/l10n_do_pos/models/search_criteria.py
addons/l10n_do_pos/models/__pycache__/__init__.cpython-38.pyc
addons/l10n_do_pos/models/__pycache__/cash_box.cpython-38.pyc
addons/l10n_do_pos/models/__pycache__/pos_config.cpython-38.pyc
addons/l10n_do_pos/models/__pycache__/pos_order.cpython-38.pyc
addons/l10n_do_pos/models/__pycache__/pos_payment_method.cpython-38.pyc
addons/l10n_do_pos/models/__pycache__/pos_session.cpython-38.pyc
addons/l10n_do_pos/models/__pycache__/search_criteria.cpython-38.pyc
addons/l10n_do_pos/static/src/css/l10n_do_pos.css
addons/l10n_do_pos/static/src/img/icon-cross.png
addons/l10n_do_pos/static/src/img/icon-features.png
addons/l10n_do_pos/static/src/img/icon-help.png
addons/l10n_do_pos/static/src/img/icon-support.png
addons/l10n_do_pos/static/src/img/icon.png
addons/l10n_do_pos/static/src/js/chrome.js
addons/l10n_do_pos/static/src/js/db.js
addons/l10n_do_pos/static/src/js/invoices.js
addons/l10n_do_pos/static/src/js/models.js
addons/l10n_do_pos/static/src/js/screens.js
addons/l10n_do_pos/static/src/js/utils.js
addons/l10n_do_pos/static/src/libs/jquery-autocomplete-ui.css
addons/l10n_do_pos/static/src/xml/ncf_ticket.xml
addons/l10n_do_pos/static/src/xml/pos.xml
addons/l10n_do_pos/views/pos_config.xml
addons/l10n_do_pos/views/pos_payment_method_view.xml
addons/l10n_do_pos/views/pos_view.xml
addons/l10n_do_pos/views/templates.xml
addons/l10n_do_purchase/__init__.py
addons/l10n_do_purchase/__manifest__.py
addons/l10n_do_purchase/__pycache__/__init__.cpython-38.pyc
addons/l10n_do_purchase/models/__init__.py
addons/l10n_do_purchase/models/purchase_order.py
addons/l10n_do_purchase/models/res_partner.py
addons/l10n_do_purchase/models/__pycache__/__init__.cpython-38.pyc
addons/l10n_do_purchase/models/__pycache__/purchase_order.cpython-38.pyc
addons/l10n_do_purchase/models/__pycache__/res_partner.cpython-38.pyc
addons/l10n_do_purchase/static/description/company-logo.png
addons/l10n_do_purchase/static/description/icon.png
addons/l10n_do_purchase/static/description/index.html
addons/l10n_do_purchase/views/res_partner_views.xml
addons/l10n_do_rnc_validation/__init__.py
addons/l10n_do_rnc_validation/__manifest__.py
addons/l10n_do_rnc_validation/README.rst
addons/l10n_do_rnc_validation/__pycache__/__init__.cpython-38.pyc
addons/l10n_do_rnc_validation/data/ir_config_parameter_data.xml
addons/l10n_do_rnc_validation/i18n/es_DO.po
addons/l10n_do_rnc_validation/migrations/14.0.2.1.0/post-init_migrate_fields.py
addons/l10n_do_rnc_validation/models/__init__.py
addons/l10n_do_rnc_validation/models/res_company.py
addons/l10n_do_rnc_validation/models/res_config_settings.py
addons/l10n_do_rnc_validation/models/res_partner.py
addons/l10n_do_rnc_validation/models/__pycache__/__init__.cpython-38.pyc
addons/l10n_do_rnc_validation/models/__pycache__/res_company.cpython-38.pyc
addons/l10n_do_rnc_validation/models/__pycache__/res_config_settings.cpython-38.pyc
addons/l10n_do_rnc_validation/models/__pycache__/res_partner.cpython-38.pyc
addons/l10n_do_rnc_validation/views/res_config_settings_views.xml
addons/l10n_do_rnc_validation/views/res_partner_views.xml
addons/l10n_latam_invoice/__init__.py
addons/l10n_latam_invoice/__manifest__.py
addons/l10n_latam_invoice/__pycache__/__init__.cpython-38.pyc
addons/l10n_latam_invoice/i18n/es_DO.po
addons/l10n_latam_invoice/i18n/es.po
addons/l10n_latam_invoice/models/__init__.py
addons/l10n_latam_invoice/models/account_chart_template.py
addons/l10n_latam_invoice/models/account_journal.py
addons/l10n_latam_invoice/models/account_move_line.py
addons/l10n_latam_invoice/models/account_move.py
addons/l10n_latam_invoice/models/ir_sequence.py
addons/l10n_latam_invoice/models/l10n_latam_document_type.py
addons/l10n_latam_invoice/models/res_company.py
addons/l10n_latam_invoice/models/__pycache__/__init__.cpython-38.pyc
addons/l10n_latam_invoice/models/__pycache__/account_chart_template.cpython-38.pyc
addons/l10n_latam_invoice/models/__pycache__/account_journal.cpython-38.pyc
addons/l10n_latam_invoice/models/__pycache__/account_move_line.cpython-38.pyc
addons/l10n_latam_invoice/models/__pycache__/account_move.cpython-38.pyc
addons/l10n_latam_invoice/models/__pycache__/ir_sequence.cpython-38.pyc
addons/l10n_latam_invoice/models/__pycache__/l10n_latam_document_type.cpython-38.pyc
addons/l10n_latam_invoice/models/__pycache__/res_company.cpython-38.pyc
addons/l10n_latam_invoice/report/__init__.py
addons/l10n_latam_invoice/report/invoice_report_view.xml
addons/l10n_latam_invoice/report/invoice_report.py
addons/l10n_latam_invoice/report/__pycache__/__init__.cpython-38.pyc
addons/l10n_latam_invoice/report/__pycache__/invoice_report.cpython-38.pyc
addons/l10n_latam_invoice/security/ir.model.access.csv
addons/l10n_latam_invoice/views/account_journal_view.xml
addons/l10n_latam_invoice/views/account_move_line_view.xml
addons/l10n_latam_invoice/views/account_move_view.xml
addons/l10n_latam_invoice/views/ir_sequence_view.xml
addons/l10n_latam_invoice/views/l10n_latam_document_type_view.xml
addons/l10n_latam_invoice/views/report_templates.xml
addons/l10n_latam_invoice/wizards/__init__.py
addons/l10n_latam_invoice/wizards/account_debit_note.py
addons/l10n_latam_invoice/wizards/account_move_reversal_view.xml
addons/l10n_latam_invoice/wizards/account_move_reversal.py
addons/l10n_latam_invoice/wizards/__pycache__/__init__.cpython-38.pyc
addons/l10n_latam_invoice/wizards/__pycache__/account_debit_note.cpython-38.pyc
addons/l10n_latam_invoice/wizards/__pycache__/account_move_reversal.cpython-38.pyc
addons/megasol_maintenance/.idea/.gitignore
addons/megasol_maintenance/.idea/megasol_maintenance.iml
addons/megasol_maintenance/.idea/misc.xml
addons/megasol_maintenance/.idea/modules.xml
addons/megasol_maintenance/.idea/inspectionProfiles/profiles_settings.xml
addons/megasol_maintenance/.idea/.gitignore
addons/megasol_maintenance/.idea/megasol_maintenance.iml
addons/megasol_maintenance/.idea/misc.xml
addons/megasol_maintenance/.idea/modules.xml
addons/megasol_maintenance/.idea/inspectionProfiles/profiles_settings.xml
