<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <!-- This Menu Item must have a parent and an action -->
    <menuitem id="languaje_menu_item"
        name="Idiomas"
        parent="sale.menu_sale_config" action="sale_languaje_action"
        sequence="11" />

    <menuitem id="level_menu_item"
        name="Niveles"
        parent="sale.menu_sale_config" action="sale_level_action"
        sequence="12" />

    <menuitem id="schedule_menu_item"
        name="Horarios"
        parent="sale.menu_sale_config" action="sale_schedule_action"
        sequence="13" />

    <menuitem id="room_menu_item"
        name="Aulas"
        parent="sale.menu_sale_config" action="sale_room_action"
        sequence="14" />

    <menuitem id="seccion_menu_item"
        name="Secciones"
        parent="sale.menu_sale_config" action="sale_seccion_action"
        sequence="15" />

    <menuitem id="professor_menu_item"
        name="Profesores"
        parent="sale.menu_sale_config" action="sale_professor_action"
        sequence="16" />

    <menuitem id="bimestres_menu_item"
        name="Bimestres"
        parent="sale.menu_sale_config" action="sale_bimestre_action"
        sequence="17" />

</odoo>